.fav{
    display: inline-block;
    margin: 20px 10px;
    /* background-color:rgba(169, 169, 169, 0.413); */
    padding: 3px;
    width: 180px;
    border-radius: 5px;
    border: 1px rgba(169, 169, 169, 0.631) solid;
}
.favourites{
    margin: 0px 30px;

}
.h1p{
    margin: 0px 0px;
}
#rat{
    margin: 5px 0px 0px 0px;
    background-color: rgb(35, 187, 117);
    border-radius: 30px;
    width:70px;
    color: white;
    text-align: center;
}
.fav p{
    display: inline-block;
    /* margin-right: 21px; */
   font-size: 13px;
    width: 150px;
}
.fav button{
    color: red;
}